<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

  <style>
      .item-card{
          text-decoration: none;
      }

  </style>


  <div layout:fragment="content">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-3" th:each="itemDto : ${itemDtoList}">
          <a th:href="@{/items/{id}(id=${itemDto.getId()})}" class="card item-card" style="text-decoration:none; color: black; margin-bottom: 20px;">
            <div>
              <img th:src="${itemDto.getImageDtoList().get(0)}" class="card-img-top" alt="item Image" style="width: 100%; height: 250px; object-fit: cover">
            </div>
            <div class="card-body">
              <h5 class="card-title" th:text="${itemDto.getItemName()}">itemName</h5>
              <p class="item-price" th:text="${#numbers.formatInteger(itemDto.getItemPrice(),0,'COMMA') + '원'}">price</p>
            </div>
            <div class="mb-2 me-2">
              <div th:if="${itemDto.sellStatus.toString() == 'SELL'}" class="d-flex justify-content-end">
                <button type="button" class="btn border">판매중</button>
              </div>
              <div th:unless="${itemDto.sellStatus.toString() == 'SELL'}" class="d-flex justify-content-end">
                <button type="button" class="btn bg-black text-white border">품절</button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

